
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-weight: 500;
    font-size: 16;
}

.header {}

.header-nav {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-size: 18px;
    color: #4D5AE5;
}

.header-span {
    color: #2E2F42;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-menu {}

.header-menu-item {
    font-weight: 500;
}

.header-menu-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link {
    color: #2e2f42;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}


.header-address {
    font-style: normal;
}

.header-address-item {
    font-style: normal;
}

.header-info-item {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link {
    color: #434455;
}

.header-address-link:hover {
    color: #404bbf;
}

.header-address-link:focus {
    color: #404bbf;
}



.solutions {
    background-color: #2E2F42;
}

.solutions-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
} 

.solutions-btn {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #4D5AE5;
    background: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.solutions-btn:hover {
    background-color: #404BBF;
}

.solutions-btn:focus {
    background-color: #404BBF;
}


.prioryti {
    background-color: #F4F4FD;
    color: #2E2F42;
}

.priory-title {
    text-align: center;
    text-transform: capitalize;
}

.prioryti-list {
    background-color: #FFFFFF
}

.prioryti-item {}

.prioryti-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.prioryti-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.our-team {
    background-color: #F4F4FD;
}

.title-team {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-img {}

.team-sudtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {}

.portfolio-title {
    font-size: 36px;
    line-height: 111.111111%;
    /* 40/36 */
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.portfolio-list {}

.portfolio-item {color: #2e2f42 ;}

.portfolio-img {}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
   
    letter-spacing: 0.02em;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color:
        #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-span {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}